# Add any directories, files, or patterns you don't want to be tracked by version control
*.pyc
.ipynb_checkpoints
.vscode
/.idea
__pycache__
/dist/
/*.egg-info
chnl_0.png
chnl_1.png
chnl_2.png
chnl_3.png
chnl_4.png
cir.png
ndre_over_rgb.png
ndvi_over_rgb.png
rgb.png
bgrne.tiff
.gitignore
