# Add any directories, files, or patterns you don't want to be tracked by version control
*.pyc
.ipynb_checkpoints
.vscode
/.idea
__pycache__
/dist/
/*.egg-info
chnl_0.png
chnl_1.png
chnl_2.png
chnl_3.png
chnl_4.png
cir.png
ndre_over_rgb.png
ndvi_over_rgb.png
rgb.png
bgrne.tiff
.gitignore
rgb_74.png
rgb_75.png
rgb_80.png
rgb_81.png
rgb_82.png
rgb_83.png
rgb_84.png
rgb_86.png
rgb_87.png
rgb_74.png
sample_data.npy
sample.mat
sample_batch.mat
mat_files/batch_0.mat
mat_files/batch_1.mat
mat_files/batch_2.mat
mat_files/batch_3.mat
mat_files/batch_4.mat
mat_files/batch_5.mat
mat_files/batch_6.mat
mat_files/batch_7.mat
mat_files/batch_8.mat
mat_files/batch_9.mat
mat_files/batch_10.mat
mat_files/batch_11.mat
mat_files/batch_12.mat
mat_files/batch_13.mat
mat_files/batch_14.mat
mat_files/batch_15.mat
mat_files/batch_16.mat
mat_files/batch_17.mat
mat_files/batch_18.mat
mat_files/batch_19.mat
mat_files/batch_20.mat
mat_files/batch_21.mat
mat_files/batch_22.mat
mat_files/batch_23.mat
mat_files/batch_24.mat
mat_files/batch_25.mat
mat_files/batch_26.mat
mat_files/batch_27.mat
mat_files/batch_28.mat
mat_files/batch_29.mat
mat_files/batch_30.mat
mat_files/batch_31.mat
mat_files/batch_32.mat
mat_files/batch_33.mat
mat_files/batch_34.mat
mat_files/batch_35.mat
mat_files/batch_36.mat
mat_files/batch_37.mat
mat_files/batch_38.mat
mat_files/batch_39.mat
mat_files/batch_40.mat
mat_files/batch_41.mat
mat_files/batch_42.mat
mat_files/batch_43.mat
mat_files/batch_44.mat
mat_files/batch_45.mat
mat_files/batch_46.mat
mat_files/batch_47.mat
mat_files/batch_48.mat
mat_files/batch_49.mat
mat_files/batch_50.mat
mat_files/batch_51.mat
mat_files/batch_52.mat
mat_files/batch_53.mat
mat_files/batch_54.mat
mat_files/batch_55.mat
mat_files/batch_56.mat
mat_files/batch_57.mat
mat_files/batch_58.mat
mat_files/batch_59.mat
mat_files/batch_60.mat
mat_files/batch_61.mat
mat_files/batch_62.mat
mat_files/batch_63.mat
mat_files/batch_64.mat
mat_files/batch_65.mat
mat_files/batch_66.mat
mat_files/batch_67.mat
mat_files/batch_68.mat
mat_files/batch_69.mat
mat_files/batch_70.mat
mat_files/batch_71.mat
mat_files/batch_72.mat
mat_files/batch_73.mat
mat_files/batch_74.mat
mat_files/batch_75.mat
mat_files/batch_76.mat
mat_files/batch_77.mat
mat_files/batch_78.mat
mat_files/batch_79.mat
mat_files/batch_80.mat
mat_files/batch_81.mat
mat_files/batch_82.mat
mat_files/batch_83.mat
mat_files/batch_84.mat
mat_files/batch_85.mat
mat_files/batch_86.mat
mat_files/batch_87.mat
mat_files/batch_88.mat
mat_files/batch_89.mat
mat_files/batch_90.mat
mat_files/batch_91.mat
mat_files/batch_92.mat
mat_files/batch_93.mat
mat_files/batch_94.mat
mat_files/batch_95.mat
mat_files/batch_96.mat
mat_files/batch_97.mat
mat_files/batch_98.mat
mat_files/batch_99.mat
mat_files/batch_100.mat
mat_files/batch_101.mat
mat_files/batch_102.mat
mat_files/batch_103.mat
mat_files/batch_104.mat
mat_files/batch_105.mat
mat_files/batch_106.mat
mat_files/batch_107.mat
mat_files/batch_108.mat
mat_files/batch_109.mat
mat_files/batch_110.mat
mat_files/batch_111.mat
mat_files/batch_112.mat
mat_files/batch_113.mat
mat_files/batch_114.mat
mat_files/batch_115.mat
mat_files/batch_116.mat
mat_files/batch_117.mat
mat_files/batch_118.mat
mat_files/batch_119.mat
mat_files/batch_120.mat
mat_files/batch_121.mat
mat_files/batch_122.mat
mat_files/batch_123.mat
mat_files/batch_124.mat
mat_files/batch_125.mat
mat_files/batch_126.mat
mat_files/batch_127.mat
mat_files/batch_128.mat
mat_files/batch_129.mat
mat_files/batch_130.mat
mat_files/batch_131.mat
mat_files/batch_132.mat
mat_files/batch_133.mat
mat_files/batch_134.mat
mat_files/batch_135.mat
mat_files/batch_136.mat
mat_files/batch_137.mat
mat_files/batch_138.mat
mat_files/batch_139.mat
mat_files/batch_140.mat
mat_files/batch_141.mat
mat_files/batch_142.mat
mat_files/batch_143.mat
mat_files/batch_144.mat
mat_files/batch_145.mat
mat_files/batch_146.mat
mat_files/batch_147.mat
mat_files/batch_148.mat
mat_files/batch_149.mat
mat_files/batch_150.mat
mat_files/batch_151.mat
mat_files/batch_152.mat
mat_files/batch_153.mat
mat_files/batch_154.mat
mat_files/batch_155.mat
mat_files/batch_156.mat
mat_files/batch_157.mat
mat_files/batch_158.mat
mat_files/batch_159.mat
mat_files/batch_160.mat
mat_files/batch_161.mat
mat_files/batch_162.mat
mat_files/batch_163.mat
mat_files/batch_164.mat
mat_files/batch_165.mat
mat_files/batch_166.mat
mat_files/batch_167.mat
mat_files/batch_168.mat
mat_files/batch_169.mat
mat_files/batch_170.mat
mat_files/batch_171.mat
mat_files/batch_172.mat
mat_files/batch_173.mat
mat_files/batch_174.mat
mat_files/batch_175.mat
mat_files/batch_176.mat
mat_files/batch_177.mat
mat_files/batch_178.mat
mat_files/batch_179.mat
mat_files/batch_180.mat
mat_files/batch_181.mat
mat_files/batch_182.mat
mat_files/batch_183.mat
mat_files/batch_184.mat
mat_files/batch_185.mat
mat_files/batch_186.mat
mat_files/batch_187.mat
mat_files/batch_188.mat
mat_files/batch_189.mat
mat_files/batch_190.mat
mat_files/batch_191.mat
mat_files/batch_192.mat
mat_files/batch_193.mat
mat_files/batch_194.mat
mat_files/batch_195.mat
mat_files/batch_196.mat
mat_files/batch_197.mat
mat_files/batch_198.mat
mat_files/batch_199.mat
mat_files.zip
rgb_images/img_0.png
rgb_images/img_1.png
rgb_images/img_2.png
rgb_images/img_3.png
rgb_images/img_4.png
rgb_images/img_5.png
rgb_images/img_6.png
rgb_images/img_7.png
rgb_images/img_8.png
rgb_images/img_9.png
rgb_images/img_10.png
rgb_images/img_11.png
rgb_images/img_12.png
rgb_images/img_13.png
rgb_images/img_14.png
rgb_images/img_15.png
rgb_images/img_16.png
rgb_images/img_17.png
rgb_images/img_18.png
rgb_images/img_19.png
rgb_images/img_20.png
rgb_images/img_21.png
rgb_images/img_22.png
rgb_images/img_23.png
rgb_images/img_24.png
rgb_images/img_25.png
rgb_images/img_26.png
rgb_images/img_27.png
rgb_images/img_28.png
rgb_images/img_29.png
rgb_images/img_30.png
rgb_images/img_31.png
rgb_images/img_32.png
rgb_images/img_33.png
rgb_images/img_34.png
rgb_images/img_35.png
rgb_images/img_36.png
rgb_images/img_37.png
rgb_images/img_38.png
rgb_images/img_39.png
rgb_images/img_40.png
rgb_images/img_41.png
rgb_images/img_42.png
rgb_images/img_43.png
rgb_images/img_44.png
rgb_images/img_45.png
rgb_images/img_46.png
rgb_images/img_47.png
rgb_images/img_48.png
rgb_images/img_49.png
rgb_images/img_50.png
rgb_images/img_51.png
rgb_images/img_52.png
rgb_images/img_53.png
rgb_images/img_54.png
rgb_images/img_55.png
rgb_images/img_56.png
rgb_images/img_57.png
rgb_images/img_58.png
rgb_images/img_59.png
rgb_images/img_60.png
rgb_images/img_61.png
rgb_images/img_62.png
rgb_images/img_63.png
rgb_images/img_64.png
rgb_images/img_65.png
rgb_images/img_66.png
rgb_images/img_67.png
rgb_images/img_68.png
rgb_images/img_69.png
rgb_images/img_70.png
rgb_images/img_71.png
rgb_images/img_72.png
rgb_images/img_73.png
rgb_images/img_74.png
rgb_images/img_75.png
rgb_images/img_76.png
rgb_images/img_77.png
rgb_images/img_78.png
rgb_images/img_79.png
rgb_images/img_80.png
rgb_images/img_81.png
rgb_images/img_82.png
rgb_images/img_83.png
rgb_images/img_84.png
rgb_images/img_85.png
rgb_images/img_86.png
rgb_images/img_87.png
rgb_images/img_88.png
rgb_images/img_89.png
rgb_images/img_90.png
rgb_images/img_91.png
rgb_images/img_92.png
rgb_images/img_93.png
rgb_images/img_94.png
rgb_images/img_95.png
rgb_images/img_96.png
rgb_images/img_97.png
rgb_images/img_98.png
rgb_images/img_99.png
rgb_images/img_100.png
rgb_images/img_101.png
rgb_images/img_102.png
rgb_images/img_103.png
rgb_images/img_104.png
rgb_images/img_105.png
rgb_images/img_106.png
rgb_images/img_107.png
rgb_images/img_108.png
rgb_images/img_109.png
rgb_images/img_110.png
rgb_images/img_111.png
rgb_images/img_112.png
rgb_images/img_113.png
rgb_images/img_114.png
rgb_images/img_115.png
rgb_images/img_116.png
rgb_images/img_117.png
rgb_images/img_118.png
rgb_images/img_119.png
rgb_images/img_120.png
rgb_images/img_121.png
rgb_images/img_122.png
rgb_images/img_123.png
rgb_images/img_124.png
rgb_images/img_125.png
rgb_images/img_126.png
rgb_images/img_127.png
rgb_images/img_128.png
rgb_images/img_129.png
rgb_images/img_130.png
rgb_images/img_131.png
rgb_images/img_132.png
rgb_images/img_133.png
rgb_images/img_134.png
rgb_images/img_135.png
rgb_images/img_136.png
rgb_images/img_137.png
rgb_images/img_138.png
rgb_images/img_139.png
rgb_images/img_140.png
rgb_images/img_141.png
rgb_images/img_142.png
rgb_images/img_143.png
rgb_images/img_144.png
rgb_images/img_145.png
rgb_images/img_146.png
rgb_images/img_147.png
rgb_images/img_148.png
rgb_images/img_149.png
rgb_images/img_150.png
rgb_images/img_151.png
rgb_images/img_152.png
rgb_images/img_153.png
rgb_images/img_154.png
rgb_images/img_155.png
rgb_images/img_156.png
rgb_images/img_157.png
rgb_images/img_158.png
rgb_images/img_159.png
rgb_images/img_160.png
rgb_images/img_161.png
rgb_images/img_162.png
rgb_images/img_163.png
rgb_images/img_164.png
rgb_images/img_165.png
rgb_images/img_166.png
rgb_images/img_167.png
rgb_images/img_168.png
rgb_images/img_169.png
rgb_images/img_170.png
rgb_images/img_171.png
rgb_images/img_172.png
rgb_images/img_173.png
rgb_images/img_174.png
rgb_images/img_175.png
rgb_images/img_176.png
rgb_images/img_177.png
rgb_images/img_178.png
rgb_images/img_179.png
rgb_images/img_180.png
rgb_images/img_181.png
rgb_images/img_182.png
rgb_images/img_183.png
rgb_images/img_184.png
rgb_images/img_185.png
rgb_images/img_186.png
rgb_images/img_187.png
rgb_images/img_188.png
rgb_images/img_189.png
rgb_images/img_190.png
rgb_images/img_191.png
rgb_images/img_192.png
rgb_images/img_193.png
rgb_images/img_194.png
rgb_images/img_195.png
rgb_images/img_196.png
rgb_images/img_197.png
rgb_images/img_198.png
rgb_images/img_199.png
Image-ExifTool-12.40.tar.gz
Image-ExifTool-12.40
data/0000SET/000/IMG_0000_1.tif
data/0000SET/000/IMG_0000_2.tif
data/0000SET/000/IMG_0000_3.tif
data/0000SET/000/IMG_0000_4.tif
data/0000SET/000/IMG_0000_5.tif
data/0000SET/000/IMG_0001_1.tif
data/0000SET/000/IMG_0001_2.tif
data/0000SET/000/IMG_0001_3.tif
data/0000SET/000/IMG_0001_4.tif
data/0000SET/000/IMG_0001_5.tif
data/0002SET/000/IMG_0000_1.tif
data/0002SET/000/IMG_0000_2.tif
data/0002SET/000/IMG_0000_3.tif
data/0002SET/000/IMG_0000_4.tif
data/0002SET/000/IMG_0000_5.tif
data/10BANDSET/000/IMG_0000_1.tif
data/10BANDSET/000/IMG_0000_2.tif
data/10BANDSET/000/IMG_0000_3.tif
data/10BANDSET/000/IMG_0000_4.tif
data/10BANDSET/000/IMG_0000_5.tif
data/10BANDSET/000/IMG_0000_6.tif
data/10BANDSET/000/IMG_0000_7.tif
data/10BANDSET/000/IMG_0000_8.tif
data/10BANDSET/000/IMG_0000_9.tif
data/10BANDSET/000/IMG_0000_10.tif
data/10BANDSET/000/IMG_0431_1.tif
data/10BANDSET/000/IMG_0431_2.tif
data/10BANDSET/000/IMG_0431_3.tif
data/10BANDSET/000/IMG_0431_4.tif
data/10BANDSET/000/IMG_0431_5.tif
data/10BANDSET/000/IMG_0431_6.tif
data/10BANDSET/000/IMG_0431_7.tif
data/10BANDSET/000/IMG_0431_8.tif
data/10BANDSET/000/IMG_0431_9.tif
data/10BANDSET/000/IMG_0431_10.tif
data/ALTUM0SET/000/IMG_0000_1.tif
data/ALTUM1SET/000/IMG_0000_1.tif
data/ALTUM1SET/000/IMG_0000_2.tif
data/ALTUM1SET/000/IMG_0000_3.tif
data/ALTUM1SET/000/IMG_0000_4.tif
data/ALTUM1SET/000/IMG_0000_5.tif
data/ALTUM1SET/000/IMG_0000_6.tif
data/ALTUM1SET/000/IMG_0008_1.tif
data/ALTUM1SET/000/IMG_0008_2.tif
data/ALTUM1SET/000/IMG_0008_3.tif
data/ALTUM1SET/000/IMG_0008_4.tif
data/ALTUM1SET/000/IMG_0008_5.tif
data/ALTUM1SET/000/IMG_0008_6.tif
data/ALTUM1SET/000/IMG_0245_1.tif
data/ALTUM1SET/000/IMG_0245_2.tif
data/ALTUM1SET/000/IMG_0245_3.tif
data/ALTUM1SET/000/IMG_0245_4.tif
data/ALTUM1SET/000/IMG_0245_5.tif
data/ALTUM1SET/000/IMG_0245_6.tif
.gitignore
data/0000SET/000/IMG_0000_1.tif
data/0000SET/000/IMG_0000_2.tif
data/0000SET/000/IMG_0000_3.tif
data/0000SET/000/IMG_0000_4.tif
data/0000SET/000/IMG_0000_5.tif
data/0000SET/000/IMG_0001_1.tif
data/0000SET/000/IMG_0001_2.tif
data/0000SET/000/IMG_0001_3.tif
data/0000SET/000/IMG_0001_4.tif
data/0000SET/000/IMG_0001_5.tif
data/0002SET/000/IMG_0000_1.tif
data/0002SET/000/IMG_0000_2.tif
data/0002SET/000/IMG_0000_3.tif
data/0002SET/000/IMG_0000_4.tif
data/0002SET/000/IMG_0000_5.tif
data/10BANDSET/000/IMG_0000_1.tif
data/10BANDSET/000/IMG_0000_2.tif
data/10BANDSET/000/IMG_0000_3.tif
data/10BANDSET/000/IMG_0000_4.tif
data/10BANDSET/000/IMG_0000_5.tif
data/10BANDSET/000/IMG_0000_6.tif
data/10BANDSET/000/IMG_0000_7.tif
data/10BANDSET/000/IMG_0000_8.tif
data/10BANDSET/000/IMG_0000_9.tif
data/10BANDSET/000/IMG_0000_10.tif
data/10BANDSET/000/IMG_0431_1.tif
data/10BANDSET/000/IMG_0431_2.tif
data/10BANDSET/000/IMG_0431_3.tif
data/10BANDSET/000/IMG_0431_4.tif
data/10BANDSET/000/IMG_0431_5.tif
data/10BANDSET/000/IMG_0431_6.tif
data/10BANDSET/000/IMG_0431_7.tif
data/10BANDSET/000/IMG_0431_8.tif
data/10BANDSET/000/IMG_0431_9.tif
data/10BANDSET/000/IMG_0431_10.tif
data/ALTUM0SET/000/IMG_0000_1.tif
data/ALTUM1SET/000/IMG_0000_1.tif
data/ALTUM1SET/000/IMG_0000_2.tif
data/ALTUM1SET/000/IMG_0000_3.tif
data/ALTUM1SET/000/IMG_0000_4.tif
data/ALTUM1SET/000/IMG_0000_5.tif
data/ALTUM1SET/000/IMG_0000_6.tif
data/ALTUM1SET/000/IMG_0008_1.tif
data/ALTUM1SET/000/IMG_0008_2.tif
data/ALTUM1SET/000/IMG_0008_3.tif
data/ALTUM1SET/000/IMG_0008_4.tif
data/ALTUM1SET/000/IMG_0008_5.tif
data/ALTUM1SET/000/IMG_0008_6.tif
data/ALTUM1SET/000/IMG_0245_1.tif
data/ALTUM1SET/000/IMG_0245_2.tif
data/ALTUM1SET/000/IMG_0245_3.tif
data/ALTUM1SET/000/IMG_0245_4.tif
data/ALTUM1SET/000/IMG_0245_5.tif
data/ALTUM1SET/000/IMG_0245_6.tif
