# Add any directories, files, or patterns you don't want to be tracked by version control
*.pyc
.ipynb_checkpoints
.vscode
/.idea
__pycache__
/dist/
/*.egg-info
chnl_0.png
chnl_1.png
chnl_2.png
chnl_3.png
chnl_4.png
cir.png
ndre_over_rgb.png
ndvi_over_rgb.png
rgb.png
bgrne.tiff
.gitignore
rgb_74.png
rgb_75.png
rgb_80.png
rgb_81.png
rgb_82.png
rgb_83.png
rgb_84.png
rgb_86.png
rgb_87.png
rgb_74.png
sample_data.npy
sample.mat
sample_batch.mat
mat_files/batch_0.mat
mat_files/batch_1.mat
mat_files/batch_2.mat
mat_files/batch_3.mat
mat_files/batch_4.mat
mat_files/batch_5.mat
mat_files/batch_6.mat
mat_files/batch_7.mat
mat_files/batch_8.mat
mat_files/batch_9.mat
mat_files/batch_10.mat
mat_files/batch_11.mat
mat_files/batch_12.mat
mat_files/batch_13.mat
mat_files/batch_14.mat
mat_files/batch_15.mat
mat_files/batch_16.mat
mat_files/batch_17.mat
mat_files/batch_18.mat
mat_files/batch_19.mat
mat_files/batch_20.mat
mat_files/batch_21.mat
mat_files/batch_22.mat
mat_files/batch_23.mat
mat_files/batch_24.mat
mat_files/batch_25.mat
mat_files/batch_26.mat
mat_files/batch_27.mat
mat_files/batch_28.mat
mat_files/batch_29.mat
mat_files/batch_30.mat
mat_files/batch_31.mat
mat_files/batch_32.mat
mat_files/batch_33.mat
mat_files/batch_34.mat
mat_files/batch_35.mat
mat_files/batch_36.mat
mat_files/batch_37.mat
mat_files/batch_38.mat
mat_files/batch_39.mat
mat_files/batch_40.mat
mat_files/batch_41.mat
mat_files/batch_42.mat
mat_files/batch_43.mat
mat_files/batch_44.mat
mat_files/batch_45.mat
mat_files/batch_46.mat
mat_files/batch_47.mat
mat_files/batch_48.mat
mat_files/batch_49.mat
mat_files/batch_50.mat
mat_files/batch_51.mat
mat_files/batch_52.mat
mat_files/batch_53.mat
mat_files/batch_54.mat
mat_files/batch_55.mat
mat_files/batch_56.mat
mat_files/batch_57.mat
mat_files/batch_58.mat
mat_files/batch_59.mat
mat_files/batch_60.mat
mat_files/batch_61.mat
mat_files/batch_62.mat
mat_files/batch_63.mat
mat_files/batch_64.mat
mat_files/batch_65.mat
mat_files/batch_66.mat
mat_files/batch_67.mat
mat_files/batch_68.mat
mat_files/batch_69.mat
mat_files/batch_70.mat
mat_files/batch_71.mat
mat_files/batch_72.mat
mat_files/batch_73.mat
mat_files/batch_74.mat
mat_files/batch_75.mat
mat_files/batch_76.mat
mat_files/batch_77.mat
mat_files/batch_78.mat
mat_files/batch_79.mat
mat_files/batch_80.mat
mat_files/batch_81.mat
mat_files/batch_82.mat
mat_files/batch_83.mat
mat_files/batch_84.mat
mat_files/batch_85.mat
mat_files/batch_86.mat
mat_files/batch_87.mat
mat_files/batch_88.mat
mat_files/batch_89.mat
mat_files/batch_90.mat
mat_files/batch_91.mat
mat_files/batch_92.mat
mat_files/batch_93.mat
mat_files/batch_94.mat
mat_files/batch_95.mat
mat_files/batch_96.mat
mat_files/batch_97.mat
mat_files/batch_98.mat
mat_files/batch_99.mat
mat_files/batch_100.mat
mat_files/batch_101.mat
mat_files/batch_102.mat
mat_files/batch_103.mat
mat_files/batch_104.mat
mat_files/batch_105.mat
mat_files/batch_106.mat
mat_files/batch_107.mat
mat_files/batch_108.mat
mat_files/batch_109.mat
mat_files/batch_110.mat
mat_files/batch_111.mat
mat_files/batch_112.mat
mat_files/batch_113.mat
mat_files/batch_114.mat
mat_files/batch_115.mat
mat_files/batch_116.mat
mat_files/batch_117.mat
mat_files/batch_118.mat
mat_files/batch_119.mat
mat_files/batch_120.mat
mat_files/batch_121.mat
mat_files/batch_122.mat
mat_files/batch_123.mat
mat_files/batch_124.mat
mat_files/batch_125.mat
mat_files/batch_126.mat
mat_files/batch_127.mat
mat_files/batch_128.mat
mat_files/batch_129.mat
mat_files/batch_130.mat
mat_files/batch_131.mat
mat_files/batch_132.mat
mat_files/batch_133.mat
mat_files/batch_134.mat
mat_files/batch_135.mat
mat_files/batch_136.mat
mat_files/batch_137.mat
mat_files/batch_138.mat
mat_files/batch_139.mat
mat_files/batch_140.mat
mat_files/batch_141.mat
mat_files/batch_142.mat
mat_files/batch_143.mat
mat_files/batch_144.mat
mat_files/batch_145.mat
mat_files/batch_146.mat
mat_files/batch_147.mat
mat_files/batch_148.mat
mat_files/batch_149.mat
mat_files/batch_150.mat
mat_files/batch_151.mat
mat_files/batch_152.mat
mat_files/batch_153.mat
mat_files/batch_154.mat
mat_files/batch_155.mat
mat_files/batch_156.mat
mat_files/batch_157.mat
mat_files/batch_158.mat
mat_files/batch_159.mat
mat_files/batch_160.mat
mat_files/batch_161.mat
mat_files/batch_162.mat
mat_files/batch_163.mat
mat_files/batch_164.mat
mat_files/batch_165.mat
mat_files/batch_166.mat
mat_files/batch_167.mat
mat_files/batch_168.mat
mat_files/batch_169.mat
mat_files/batch_170.mat
mat_files/batch_171.mat
mat_files/batch_172.mat
mat_files/batch_173.mat
mat_files/batch_174.mat
mat_files/batch_175.mat
mat_files/batch_176.mat
mat_files/batch_177.mat
mat_files/batch_178.mat
mat_files/batch_179.mat
mat_files/batch_180.mat
mat_files/batch_181.mat
mat_files/batch_182.mat
mat_files/batch_183.mat
mat_files/batch_184.mat
mat_files/batch_185.mat
mat_files/batch_186.mat
mat_files/batch_187.mat
mat_files/batch_188.mat
mat_files/batch_189.mat
mat_files/batch_190.mat
mat_files/batch_191.mat
mat_files/batch_192.mat
mat_files/batch_193.mat
mat_files/batch_194.mat
mat_files/batch_195.mat
mat_files/batch_196.mat
mat_files/batch_197.mat
mat_files/batch_198.mat
mat_files/batch_199.mat
mat_files.zip
